#add-album { margin: auto; width: 700px; padding-top: 10px; }

a { text-decoration: none; color: black; }
.line:hover { text-decoration: underline; }

input { margin-left: 10px; margin-bottom: 10px; }
input[type=text] { width: 300px; border: 1px solid black; }
input[type=file] { border: none;  display: block; }
input[name=price] { width: 50px; }

form { margin-bottom: 20px; width: 700px; margin-top: 10px; border: 1px solid black; border-width: 1px 0px 1px 0px; padding-top: 10px;}

textarea { width: 300px; max-width: 300px; border: 1px solid black; margin-left: 10px; height: 150px; margin-bottom: 10px; }

h1 { font: bold 20px Helvetica; }
h2 { font: bold 15px Helvetica; }
h3 { font: bold 13px Helvetica; }

#sides { width: 320px; padding-left: 10px; }
#sides .side { width: 30px; }
#sides input { width: 286px; margin-bottom: 5px; }

#submit { margin-top: 10px; }

#add-side, .add-track { font-weight: normal; }

#loading-gif { display: none; }