img { display: block; }
body { font: normal 13px Helvetica; color: black; }

.left { float: left; }
.right { float: right; }

#header { width: 700px; margin: auto; padding-top: 5px; text-align: right; }

.clear:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clear {display: inline-block;}
* html .clear {height: 1%;}
.clear {display: block;}
