<div id="add-wrapper" class="clear">
	<h1>Add New Album</h1>
	<form id="album-data" class="clear">
		<div class="left">
			<h2>Artwork:</h2>
			<input id="files" type="file" multiple />
			<h2>Artist:</h2>
			<input name="artist" type="text" />
			<h2>Catalog Number</h2>
			<input name="catnum" type="text" />
			<h2>Album:</h2>
			<input name="album" type="text" />
			<h2>Label:</h2>
			<input name="label" type="text" />
			<h2>Artist description:</h2>
			<textarea name="artist-description"></textarea>
		</div>
		<div class="right">
			<h2>Availability:</h3>
			<input name="availability" type="text" />
			<h2>Album description:</h2>
			<textarea name="album-description"></textarea>
			<h2>Price:</h2>
			<input name="price" type="text" />
			<h2>Tracks:</h2>
			<div id="sides">
				<div>
					<h3>Side: (<a id="add-side" href="#">add</a>)</h3>
					<input class="side" type="text" />
					<h3>Tracks: (<a class="add-track" href="#">add</a>)</h3>
					<input class="track" type="text" />
				</div>
			</div>
			<input id="submit" type="submit" value="add album" />
		</div>
	</form>
	<img id="loading" src="/img/loading.gif" />
</div>