html { height: 100%; }
body { background: url("../img/bg_1.png") top left repeat; height: 100%;}

img { display: block; }
body { font: normal 13px Helvetica; color: black; }
a { text-decoration: none; color: black; }

.left { float: left; }
.right { float: right; }

#header { width: 700px; margin: auto; padding-top: 5px; text-align: right; }
#header a:hover { text-decoration: underline; }

#wrapper { width: 1000px; margin: 0 auto; background: white; }

#main { width: 900px; margin: 0 auto; }

.clear:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clear {display: inline-block;}
* html .clear {height: 1%;}
.clear {display: block;}
