<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Add New Record</title>

		<link rel="stylesheet" type="text/css" href="static/css/reset.css" />		
		<link rel="stylesheet" type="text/css" href="static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="static/css/add.css" />

		<script type="text/javascript" src="static/js/jq.js"></script>
		<script type="text/javascript" src="static/js/add.js"></script>
	</head>

	<body>
		<div id="wrapper">
			<div id="header">
				<a class="line" href="/">home</a> / 
				{% if current_user %}
					<a href="/auth/logout">logout</a>
				{% else %}
					<a class="line" href="/auth/login">login</a>
				{% end %}
			</div>
			<div id="add-album" class="clear">
				<h1>Add New Album</h1>
				<form id="album-data" class="clear">
					<div class="left">
						<h2>Artwork:</h2>
						<input id="files" type="file" multiple />
						<h2>Artist:</h2>
						<input name="artist" type="text" />
						<h2>Album:</h2>
						<input name="album" type="text" />
						<h2>Label:</h2>
						<input name="label" type="text" />
						<h2>Artist description:</h2>
						<textarea name="artist-description"></textarea>
					</div>
					<div class="right">
						<h2>Availability:</h3>
						<input name="availability" type="text" />
						<h2>Album description:</h2>
						<textarea name="album-description"></textarea>
						<h2>Price:</h2>
						<input name="price" type="text" />
						<h2>Tracks:</h2>
						<div id="sides">
							<div>
								<h3>Side: (<a id="add-side" href="#">add</a>)</h3>
								<input class="side" type="text" />
								<h3>Tracks: (<a class="add-track" href="#">add</a>)</h3>
								<input class="track" type="text" />
							</div>
						</div>
						<input id="submit" type="submit" value="add album" />
					</div>
				</form>
			</div>
			<img id="loading-gif" src="static/img/loading.gif" />
		
		</div>
	</body>
</html>