<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Manage Records</title>

		<link rel="stylesheet" type="text/css" href="static/css/reset.css" />		
		<link rel="stylesheet" type="text/css" href="static/css/admin.css" />

		<script type="text/javascript" src="static/js/jq.js"></script>
		<script type="text/javascript" src="static/js/admin.js"></script>
	</head>

	<body>
		<div id="wrapper">

			<div id="main">

			</div>

			<a class="line" href="{{ logout_url }}">logout</a>
		</div>
	</body>
</html>