<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Records for Sale!</title>

		<link rel="stylesheet" type="text/css" href="static/css/reset.css" />		
		<link rel="stylesheet" type="text/css" href="static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="static/css/albums.css" />

		<script type="text/javascript" src="static/js/jq.js"></script>
		<script type="text/javascript" src="static/js/main.js"></script>
	</head>

	<body>
		<div id="wrapper">

			<div id="header">
				<a class="line" href="/">home</a> / 
				{% if current_user %}
					<a class="line" href="/auth/logout">logout</a> /
					<a href="/add">add</a>
				{% else %}
					<a class="line" href="/auth/login">login</a>
				{% end %}
			</div>

			<div id="main">
				<div id="albums">
					{% for album in albums %}
						<div class="album clear">
							<div class="album-artwork left">
								<img class="large" src="static/img/albums/{{ album['artwork'][0] }}" />
								<div class="thumbs clear">
									{% for src in album['artwork'] %}
										<img class="thumb left" src="static/img/albums/{{ src }}" />
									{% end %}
								</div>
								<a href="/edit/{{ album['catnum'] }}">edit</a>
							</div>
							<div class="album-info left">
								<h2>{{ album['artist'] }} - {{ album['album'] }} ({{ album['label'] }})</h2>
								<p class="artist-description">Artist description: {{ album['artist-description'] }}</p>
								<p class="album-description">Album description: {{ album['album-description'] }}</p>
								<h2>${{ album['price'] }} - {{ album['availability'] }}</h2>
							</div>
							<div class="album-tracks left">
								<div class="sides">
									{% for side in album['tracks'] %}
									<div class="side">
										<h3>Side: {{ side['name'] }}</h3>
										<ul>
											{% for track in side['tracks'] %}
											<li>{{ track }}</li>
											{% end %}
										</ul>
									</div>
									{% end %}
								</div>
							</div>
						</div>
					{% end %}
				</div>
			</div>

		</div>
	</body>
</html>